@font-face {
  font-family: 'BM Hanna 11yrs old';
  src: url('/fonts/BMHANNAAir.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'BM Hanna 11yrs old';
  src: url('/fonts/BMHANNAPro.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
} 